In [1]:
l=['Smith','John','Leila','George','Maria']
print(l)

['Smith', 'John', 'Leila', 'George', 'Maria']

In [2]:
print(len(l))

5

In [3]:
print(l.index('John'))

1

In [4]:
del l[1]
print(l)

['Smith', 'Leila', 'George', 'Maria']

In [6]:
l.append('John')
print(l)

['Smith', 'Leila', 'George', 'Maria', 'John']

In [7]:
l.insert(1,'Sita')
print(l)

['Smith', 'Sita', 'Leila', 'George', 'Maria', 'John']

In [8]:
print(l*2)

['Smith', 'Sita', 'Leila', 'George', 'Maria', 'John', 'Smith', 'Sita', 'Leila', 'George', 'Maria', 'John']

In [9]:
n1=[1,2,3]
n2=[4,5,6]
print(n1+n2)

[1, 2, 3, 4, 5, 6]

In [10]:
print(sum(n1))

6

In [11]:
print(sum(n2))

15

In [16]:
l.sort()
print(l)

['George', 'John', 'Leila', 'Maria', 'Sita', 'Smith']

In [2]:
l1=[2,1,4,3,8]
l1.sort()
print(l1)

[1, 2, 3, 4, 8]